<p>Добро пожаловать {{ nickname }}!</p>
<p>Перейдите по ссылке ниже, чтобы мы могли верифицировать вашу почту</p>
<p>
    <a href="{{ url }}">Подтвердить</a>
</p>

<p>Если вы не запрашивали данное письмо, то проигнорируйте его.</p>